section.container.expert_text
	h2.center Кому нужна бизнес-разведка
	.row
		.col.s12.l4.valign-wrapper
			.expert_text_wrap-item
				img.expert_text_icon.expert_text_icon_mod(src="../Build/img/business-time.png")
				p.expert_text_feature.center Бизнес разведка для собсвенника бизнеса, если необходимо узнать все о своем конкуренте: слабые стороны, финансовое состояние и уязвимые места
		.col.s12.l4.valign-wrapper
			.expert_text_wrap-item
				img.expert_text_icon(src="../Build/img/user-tie.png")
				p.expert_text_feature.center Коммерчекская разведка для предпринимателя, если необходимо оперативно, качественно и конфиденциально получить информацию о поставщиках и клиентах
		.col.s12.l4.valign-wrapper
			.expert_text_wrap-item
				img.expert_text_icon(src="../Build/img/search-dollar.png")
				p.expert_text_feature.center Конкурентная разведка для начинающего свой бизнес, если нужно провести анализ рынка и получить понимание фактической финансовой деятельности основных игроков.
section.container.expert_text
	h2.center Что такое бизнес разведка?
	.row.valign-wrapper
		.expert_text_bigImg.col.s12.l6
			.expert_text_bigImg_overflow_hidden
				img(src="../Build/img/adult-brainstorming-briefing-1157859.jpg")
		.expert_text_feature.col.s12.l6
			p.expert_text_feature_what <span class="fw700">Бизнесразведка</span> (конкурентная разведка) — сбор информации и формировании досье на объект интереса путем проведения информационно-аналитических мероприятий.<br><br>Мероприятия включают в себя выявление контрагентов, выявление негативных аспектов деятельности, определение масштаба бизнеса, поиск аффилированных лиц, конечных бенефициаров.<br><br>Изучение внешней и внутренней организационной структуры, и кадровой политики, анализ положения компании на рынке, иная информация в зависимости от задачи.
section.container-fluid.security_bg
	.container-fluid.security_bg_layersWhite
		.container.expert_text
			h2.center.security_h2 В комплекс услуг по безопасности бизнеса входит
			.row.valign-wrapper.security_row
				.col.s6.l4.expert_text_item
					.expert_text_wrap-item
						img.expert_text_icon.expert_text_icon_mod(src="../Build/img/shield-check.png")
						p.expert_text_feature.security_text.center Аудит<br>безопасности
				.col.s6.l4.expert_text_item
					.expert_text_wrap-item
						img.expert_text_icon(src="../Build/img/badge-dollar.png")
						p.expert_text_feature.security_text.center Экономическая<br>безопасность
				.col.s6.l4.expert_text_item
					.expert_text_wrap-item
						img.expert_text_icon(src="../Build/img/info-circle.png")
						p.expert_text_feature.security_text.center Информационная<br>безопасность
				.col.s6.l4.expert_text_item
					.expert_text_wrap-item
						img.expert_text_icon(src="../Build/img/user-shield.png")
						p.expert_text_feature.security_text.center Кадровая<br>безопасность
				.col.s6.l4.expert_text_item
					.expert_text_wrap-item
						img.expert_text_icon(src="../Build/img/cogs.png")
						p.expert_text_feature.security_text.center Техническая<br>безопасность
				.col.s6.l4.expert_text_item
					.expert_text_wrap-item
						img.expert_text_icon(src="../Build/img/building.png")
						p.expert_text_feature.security_text.center Защита<br>объектов
section.container.expert_text
	h2.center Аудит безопасности
	.row.valign-wrapper
		.expert_text_bigImg.col.s12.l6
			.expert_text_bigImg_overflow_hidden
				img(src="../Build/img/adult-brainstorming-briefing-1157859.jpg")
		.expert_text_feature.col.s12.l6
			p.expert_text_feature_what Организуем системный процесс получения объективных качественных оценок о текущем состоянии общей безопасности предприятия в соответствии с определенными критериями и показателями (оценка состояния защищенности всех ресурсов).<br><br>На основании полученных данных, специалист составляет матрицу интересов и угроз, с применением которой вырабатывается алгоритм построения защиты и механизмы снижения рисков клиента.
section.container.expert_text
	h2.center Экономическая безопасность






