@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

.expert_text *
	color #000

.expert_text
	color #000
	font-size: 22px
	font-weight: 300

.expert_text_icon
	display block
	margin 2rem auto

.expert_text_icon_2
	display block
	margin 2rem auto

.expert_text_icon_mod
	padding-top: 7px
	padding-bottom: 7px

.icon_big2
	display block
	margin 2rem auto
.icon_big2_mod
	padding-left 30px

.feature_wrap-item
	display flex

.expert_text_feature
	font-size: 22px
	padding 0 50px
	font-weight: 300
	&_what
		margin-left: 3rem
		display block

.expert_text_bigImg
	height 369px

.expert_text_bigImg img
	height 369px
	width 630px

.fw700
	font-weight 700

.expert_text_bigImg_overflow_hidden
	overflow hidden
	margin-right: 3rem

.container-fluid
	width: 100%
	margin-right: auto
	margin-left: auto

.security_bg
	background-image: url('img/BG_architecture.jpg')
	background-size: cover
	position relative
	overflow hidden
	z-index: -2


.security_bg:after
	content: ""
	position absolute
	background-color rgba(256, 256,256 .9)
	z-index: -1
	top -10%
	right -10%
	bottom -10%
	left -10%
	height 120%
	width 120%

.flex-wrap
	display flex
	flex-wrap: wrap

.expert_text_item
	margin-bottom 6rem

.expert_text_p
	width 90%

.check
	width 26px
	height 20px
.m-l-0
	margin-left: 0

.p1_7rem
	font-size: 1.7rem
	font-weight: 300
.p2rem
	font-size: 2rem
	font-weight: 300
.p2_4rem
	font-size: 2.4rem
	font-weight: 300

.p3rem
	font-size: 3rem
	font-weight: 300

.h2-3_6rem
	font-size: 3.6rem
	font-weight: 400
	padding-left 15%
	padding-right 15%
	margin 7rem auto 4rem auto

.h2-3_6rem_form
	padding-left 0
	padding-right 0
	margin 6rem auto 1rem auto
	white-space nowrap

.h2-4_4rem
	font-size: 4.4rem
	font-weight 400
	padding-left 15%
	padding-right 15%
	margin 8rem auto 6rem auto

.work_bg
	background-image: url('img/laptop2.jpg')
	background-size: 100%
	background-size: cover
	background-position: center
	position relative
	overflow hidden
	z-index: -2


.work_bg:after
	content: ""
	position absolute
	background-color rgba(256, 256,256 .9)
	z-index: -1
	top 0
	right 0
	bottom 0
	left 0
	height 100%
	width 100%

.bg
	margin-top 90px
	.h2-4_4rem
		margin-top 30px

.expert_text_feature_what
	font-size: 20px


@media only screen and (max-width: 1300px)
	.expert_text_feature
		padding 20px

@media only screen and (max-width: 1100px)
	.expert_text_feature
		padding 10px


@media only screen and (max-width: 992px)
	.expert_text_feature
		padding 0
		&_what
			margin-left: 0
	.expert_text_bigImg_overflow_hidden
		margin-right: 0
	.expert_text_bigImg_overflow_hidden img
		margin: auto
		display: block
		width 100%
		max-width 630px
		height auto
	.top-slider_feature_wrap-item
		width 400px
		padding-left 74px
	.m-t-4rem
		margin-top 4rem
	.h2-4_4rem
		font-size: 36px
		line-height: 45px
	.expert_text_feature
		font-size: 18px
	.p2rem
		font-size: 18px
	.p3rem
		font-size: 24px
	.expert_text_icon_2
		height 80px
		width auto

	.icon_big2
			height 93px
			width 71px
			width auto
	.icon_big2_mod
		padding-left 40px

	.h2-3_6rem
		font-size: 3.4rem
	.expert_text_feature_what
		font-size: 18px


@media only screen and (max-width: 700px)
	.expert_text_bigImg
		height auto
		width 100%



@media only screen and (max-width: 600px)
	.expert_text_feature
		font-size: 14px
	.h2-4_4rem
		font-size: 30px
		padding-left 0
		padding-right 0
		margin 6rem auto 4rem auto
		line-height: 40px
	.p2rem
		font-size: 16px
	.p3rem
		font-size: 17px
	.expert_text_icon_2
		height 50px
		width auto

	.icon_big2
			height 77px
			width 59px
			width auto
	.icon_big2_mod
		padding-left 30px

	.h2-3_6rem
		font-size: 30px
		padding-left 0
		padding-right 0
		line-height: 40px
		margin 5rem auto 2rem auto

	.expert_text_feature_what
		font-size: 16px

	.expert_text_p
		font-size 14px
		color: #484848

@media only screen and (max-width: 420px)
	.top-slider_feature_wrap-item
		padding-left: 12%
@media only screen and (max-width: 350px)
	.top-slider_feature_wrap-item
		padding-left: 8%