section.container.expert_text
	h2.h2-4_4rem.center Кому нужна бизнес-разведка
	.row
		.col.s12.l4
			.expert_text_wrap-item
				img.expert_text_icon.expert_text_icon_mod(src="img/business-time.png")
				p.expert_text_feature.center Бизнес разведка для собсвенника бизнеса, если необходимо узнать все о своем конкуренте: слабые стороны, финансовое состояние и уязвимые места
		.col.s12.l4
			.expert_text_wrap-item
				img.expert_text_icon( alt="изображения" src="img/user-tie.png")
				p.expert_text_feature.center Коммерчекская разведка для предпринимателя, если необходимо оперативно, качественно и конфиденциально получить информацию о поставщиках и клиентах
		.col.s12.l4
			.expert_text_wrap-item
				img.expert_text_icon( alt="изображения" src="img/search-dollar.png")
				p.expert_text_feature.center Конкурентная разведка для начинающего свой бизнес, если нужно провести анализ рынка и получить понимание фактической финансовой деятельности основных игроков.
section.container.expert_text
	h2.h2-4_4rem.center Что такое бизнес разведка?
	.row.valign-wrapper.flex-wrap
		.expert_text_bigImg.col.s12.l6
			.expert_text_bigImg_overflow_hidden
				img(src="img/adult-brainstorming-briefing-1157859.jpg")
		.expert_text_feature.col.s12.l6.m-t-4rem
			p.expert_text_feature_what.p2rem <span class="fw700">Бизнесразведка</span> (конкурентная разведка) — сбор информации и формировании досье на объект интереса путем проведения информационно-аналитических мероприятий.<br><br>Мероприятия включают в себя выявление контрагентов, выявление негативных аспектов деятельности, определение масштаба бизнеса, поиск аффилированных лиц, конечных бенефициаров.<br><br>Изучение внешней и внутренней организационной структуры, и кадровой политики, анализ положения компании на рынке, иная информация в зависимости от задачи.
section.container-fluid.bg.security_bg
	.container.expert_text
		h2.h2-4_4rem.center В комплекс услуг по безопасности бизнеса входит
		.row.valign-wrapper.flex-wrap
			.col.s6.l4.expert_text_item
				.expert_text_wrap-item
					img.expert_text_icon_2( alt="изображения" src="img/shield-check.png")
					p.expert_text_feature.p3rem.center Аудит<br>безопасности
			.col.s6.l4.expert_text_item
				.expert_text_wrap-item
					img.expert_text_icon_2(src="img/badge-dollar.png" alt="изображения")
					p.expert_text_feature.p3rem.center Экономическая<br>безопасность
			.col.s6.l4.expert_text_item
				.expert_text_wrap-item
					img.expert_text_icon_2(src="img/info-circle.png" alt="изображения")
					p.expert_text_feature.p3rem.center Информационная<br>безопасность
			.col.s6.l4.expert_text_item
				.expert_text_wrap-item
					img.expert_text_icon_2(src="img/user-shield.png" alt="изображения")
					p.expert_text_feature.p3rem.center Кадровая<br>безопасность
			.col.s6.l4.expert_text_item
				.expert_text_wrap-item
					img.expert_text_icon_2(src="img/cogs.png" alt="изображения")
					p.expert_text_feature.p3rem.center Техническая<br>безопасность
			.col.s6.l4.expert_text_item
				.expert_text_wrap-item
					img.expert_text_icon_2(src="img/building.png" alt="изображения")
					p.expert_text_feature.p3rem.center Защита<br>объектов
section.container.expert_text
	h2.h2-3_6rem.center Аудит безопасности
	.row.valign-wrapper.flex-wrap
		.expert_text_bigImg.col.s12.l6
			.expert_text_bigImg_overflow_hidden
				img(src="img/laptop.jpg" alt="изображения")
		.expert_text_feature.col.s12.l6.m-t-4rem
			p.expert_text_feature_what Организуем системный процесс получения объективных качественных оценок о текущем состоянии общей безопасности предприятия в соответствии с определенными критериями и показателями (оценка состояния защищенности всех ресурсов).<br><br>На основании полученных данных, специалист составляет матрицу интересов и угроз, с применением которой вырабатывается алгоритм построения защиты и механизмы снижения рисков клиента.
section.container.expert_text
	h2.h2-3_6rem.center Экономическая безопасность
	p.expert_text_p.center.p1_7rem Проверка юридических лиц: поиск негативной информации, анализ финансово - хозяйственной деятельности предприятия, определение финансовой состоятельности и благонадежности, сбор информации о деловой репутации, выявление задолженности.
	.row.valign-wrapper.flex-wrap
		.col.s12.l4.valign-wrapper.feature_item
			.feature_wrap-item.valign-wrapper
				img.check(src="img/check.png" alt="изображения")
				p.top-slider_feature Проверка достоверности предоставленной информации.
		.col.s12.l4.feature_item.valign-wrapper
			.feature_wrap-item.valign-wrapper
				img.check(src="img/check.png" alt="изображения")
				p.top-slider_feature Мониторинг кредитоспособности компаний.
		.col.s12.l4.valign-wrapper.feature_item
			.feature_wrap-item.valign-wrapper
				img.check(src="img/check.png" alt="изображения")
				p.top-slider_feature Подтверждение платежеспособности заемщиков.
	h2.h2-3_6rem.center Информационная безопасность
	p.expert_text_p.center.p1_7rem Предоставление консультационных услуг и проведение технических мероприятий по обеспечению информационной защиты предприятия.
	.row.valign-wrapper.flex-wrap
		.col.s12.l4.valign-wrapper.feature_item
			.feature_wrap-item.valign-wrapper
				img.check(src="img/check.png" alt="изображения")
				p.top-slider_feature Аудит информационной безопасности.
		.col.s12.l4.feature_item.valign-wrapper
			.feature_wrap-item.valign-wrapper
				img.check(src="img/check.png" alt="изображения")
				p.top-slider_feature Проведение пентеста (тест на проникновение).
		.col.s12.l4.valign-wrapper.feature_item
			.feature_wrap-item.valign-wrapper
				img.check(src="img/check.png" alt="изображения")
				p.top-slider_feature Обучение персонала.
	h2.h2-3_6rem.center Техническая безопасность
	.row.valign-wrapper.flex-wrap
		.col.s12.l6.valign-wrapper.feature_item
			.feature_wrap-item.valign-wrapper
				img.check(src="img/check.png" alt="изображения")
				p.top-slider_feature Проектирование технической защиты объектов, поиск индивидуальных решений.
		.col.s12.l6.feature_item.valign-wrapper
			.feature_wrap-item.valign-wrapper
				img.check(src="img/check.png" alt="изображения")
				p.top-slider_feature Установка и обслуживание видеонаблюдения и сигнализации.
		.col.s12.l6.valign-wrapper.feature_item
			.feature_wrap-item.valign-wrapper
				img.check(src="img/check.png" alt="изображения")
				p.top-slider_feature Удаленный видеомониторинг объекта.
		.col.s12.l6.valign-wrapper.feature_item
			.feature_wrap-item.valign-wrapper
				img.check(src="img/check.png" alt="изображения")
				p.top-slider_feature Обследование объекта.
	h2.h2-3_6rem.center Кадровая безопасность
	.row.valign-wrapper.flex-wrap
		.col.s12.l6.valign-wrapper.feature_item
			.feature_wrap-item.valign-wrapper
				img.check(src="img/check.png" alt="изображения")
				p.top-slider_feature Проверка физических лиц на наличие негативной информации (судимость, долги)
		.col.s12.l6.feature_item.valign-wrapper
			.feature_wrap-item.valign-wrapper
				img.check(src="img/check.png" alt="изображения")
				p.top-slider_feature Установление фактического финансового положения, круга общения, родственников, репутации, иной значимой информации
		.col.s12.l6.valign-wrapper.feature_item(style="margin-left: 0;")
			.feature_wrap-item.valign-wrapper
				img.check(src="img/check.png" alt="изображения")
				p.top-slider_feature Участие в проведении служебных расследований с привлечением специалистов (в.т.ч экспертов-криминалистов) в различных областях.
	h2.h2-3_6rem.center Решения по физической защите объектов и предотвращения хищения ТМЦ
	.row.valign-wrapper.flex-wrap
		.col.s12.l6.valign-wrapper.feature_item
			.feature_wrap-item.valign-wrapper
				img.check(src="img/check.png" alt="изображения")
				p.top-slider_feature Подбор оптимального алгоритма защиты объекта с целью максимального снижения риска хищения ТМЦ.
		.col.s12.l6.feature_item.valign-wrapper
			.feature_wrap-item.valign-wrapper
				img.check(src="img/check.png" alt="изображения")
				p.top-slider_feature Подбор охранного предприятия отвечающего требованиям и ценовой политике клиента, исходя из опыта, уровня и специализации ЧОП.
		.col.s12.l6.valign-wrapper.feature_item(style="margin-left: 0;")
			.feature_wrap-item.valign-wrapper
				img.check(src="img/check.png" alt="изображения")
				p.top-slider_feature Минимизация угрозы нападения на объект.
section.container-fluid.bg.work_bg
	.container.expert_text
		h2.h2-4_4rem.center.security_h2 Как мы работаем
		.row
			.col.s12.l4.l4.expert_text_item
				.expert_text_wrap-item
					img.icon_big2(src="img/file-plus.png" alt="изображения")
					p.expert_text_feature.p2_4rem.center Вы оставляете заявку<br>на нашем сайте
			.col.s12.l4.l4.expert_text_item
				.expert_text_wrap-item
					img.icon_big2(src="img/file-user.png" alt="изображения")
					p.expert_text_feature.p2_4rem.center Мы рассматриваем<br>Вашу ситуацию и<br>составляем договор
			.col.s12.l4.expert_text_item
				.expert_text_wrap-item
					img.icon_big2.icon_big2_mod(src="img/file-signature.png" alt="изображения")
					p.expert_text_feature.p2_4rem.center Вы подписываете<br>договор и мы<br>начинаем работать
