<div class="container expert_text">
	.row
		<div class="contact col s12 m12 l6">
			<h2 class="h2-3_6rem h2-3_6rem_form center">Контакты</h2>
			.feature_item.valign-wrapper
				img.icons_contacts(src="../Build/img/phone.png")
				a(href="tel:+74994042474").top-slider_feature +7 (499) 404-24-74
			.feature_item.valign-wrapper
				img.icons_contacts(src="../Build/img/map-marker-alt.png")
				p.top-slider_feature Краснопресненская наб., д.12,<br>подъезд 6, пом. 323в
			.feature_item.valign-wrapper
				img.icons_contacts(src="../Build/img/envelope.png")
				a(href="mailto:info@bizexpert.pro").top-slider_feature info@bizexpert.pro
			.feature_item.valign-wrapper
				img.icons_contacts(src="../Build/img/user-tie_mini.png")
				p.top-slider_feature юр. лицо
			.feature_item.valign-wrapper
				img.icons_contacts(src="../Build/img/file-alt.png")
				p.top-slider_feature огрн: 5177746355760

		</div>
		<div class="form col s12 m12 l6">
			<h2 class="h2-3_6rem h2-3_6rem_form center">Остались вопросы?</h2>
			<span class="form_small form_small_cell center">Оставьте заявку и менеджер свяжется с вами<br>в течении 15 минут</span>
			<div role="form" class="wpcf7" id="wpcf7-f49-p4-o1" lang="ru-RU" dir="ltr">
				<div class="screen-reader-response"></div>
				<form action="/#wpcf7-f49-p4-o1" method="post" class="wpcf7-form" novalidate="novalidate">
					<div style="display: none;">
						<input type="hidden" name="_wpcf7" value="49">
						<input type="hidden" name="_wpcf7_version" value="5.1.1">
						<input type="hidden" name="_wpcf7_locale" value="ru_RU">
						<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f49-p4-o1">
						<input type="hidden" name="_wpcf7_container_post" value="4">
						<input type="hidden" name="g-recaptcha-response" value="">
					</div>
					<div class="col s12 m12 l12">
						<span class="wpcf7-form-control-wrap your-name">
							<input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form_input" aria-required="true" aria-invalid="false" placeholder="Имя">
						</span>
					</div>
					<div class="col s12 m12 l12">
						<span class="wpcf7-form-control-wrap your-phone">
							<input type="text" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form_input" aria-required="true" aria-invalid="false" placeholder="Телефон">
						</span>
					</div>
					<div class="col s12 m12 l12">
						<button type="submit" name="button" class="modal-open button">ПОЛУЧИТЬ ПРЕДЛОЖЕНИЕ</button>
					</div>
					<div class="col s12 switch-block">
						<span class="wpcf7-form-control-wrap acceptance-21390"><span class="wpcf7-form-control wpcf7-acceptance"><span class="wpcf7-list-item"><label>
							<input type="checkbox" name="acceptance-21390" value="1" aria-invalid="false" checked="checked" class="acceptance">
							<span class="form_small form_small_license wpcf7-list-item-label">Нажимая "ПОЛУЧИТЬ ПРЕДЛОЖЕНИЕ", я даю согласие на обработку моих персональных данных в соответствии с 
								<a target="_blank" href="http://bizexpert.pro/politika-bezopasnosti">Политикой конфиденциальности</a>
							</span></label></span></span></span>
					</div>
						<div class="wpcf7-response-output wpcf7-display-none"></div>
				</form>
			</div>
		</div>
</div>

