.contact
	padding 0 10px 3rem 10px !important
	font-weight: 400

.form
	border 1px solid #adadad
	box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.25)
	padding 0 15% 30px 15%

.form_small_cell
	margin-bottom: 6rem

.form_small
	display: block
	font-size: 14px
	font-weight: 400
	color #888

.form .button
	display block
	color #fff
	margin 2rem auto 4rem auto
	font-weight: 300
	background-color: #000093
	border: 0px solid #000
	font-size: 2rem
	box-shadow: none

.form_input
	margin-left auto !important
	margin-right auto !important
	width 70% !important
	display block
	color #000 !important
	font-size: 1.9rem !important
	padding-left: 10px !important
	margin-bottom: 5rem !important


.form_input::placeholder
	color #000
	font-size: 1.9rem

.form_small_license
	font-weight: 300
	padding 10px
.form_small_license a
	color #000093


@media only screen and (max-width: 992px)
	.contact
		padding 0 10px 3rem 10px !important
		padding 0 0 2rem 0 !important
	
	.form
		border 0px solid #adadad
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25)
		padding 0 0 2rem 0

	.form_input
		width 100% !important

