@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@media only screen and (min-width: 993px)
	.container
		width: 80%

.top-slider
	// display flex
	background #888




// DOUBLE STYLE


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
	font-family: "Open Sans", sans-serif;
	font-size: 10px;
}

.top-slider {
	min-height: 650px;
	height: auto !important;
	padding-top: 8rem;
	z-index: 99;
	overflow: hidden;
}


h1, h2, h3, h4, h5, h6 {
	color: white;
	font-family: "Open Sans";
	font-size: 6rem;
	font-weight: bold;
	line-height: 5rem;
	margin: 1rem 0 4rem;
}

.valign-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.top-slider h1 {
	font-size: 6rem
	font-weight: 400
}

.top-slider span {
	font-size: 22px;
	display block
	color: white;
	font-family: "Open Sans";
	margin 4rem auto 0rem auto
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button, select {
	text-transform: none;
}

.green-button {
	width: 246px;
	height: 66px;
	border-radius: 33px;
	background-color: #c1cd4c;
	border: none !important;
	color: white;
	font-size: 18px;
}

.button
	height 76px
	width 310px
	color: white;
	font-family: "Open Sans";
	font-size: 16px;
	border-radius: 38px;
	white-space: nowrap
	text-transform: uppercase;

.top-slider button {
	margin 8rem auto 9rem auto
	// display block
	font-weight: 500;
	// padding-left: 50px;
	// padding-right: 50px;
	background-color: inherit
	border: 2px solid #fff
}
.top-slider_icon {
	display block
	min-height 45px
	min-width 42px
	max-height 45px
	max-width 42px
}
.top-slider_icon  svg{
	height 100%
	width 100%
	fill #fff
	margin-top 1px
}

.top-slider_feature_wrap-item {
	margin auto
	display flex
	}
.top-slider_feature {
	display inline-block
	color: #ffffff
	font-size 17px
	margin-left 20px
	text-align: left
}
.feature_item
	margin-top 3rem
	margin-bottom 3rem


@media only screen and (max-width: 1300px)
	.top-slider button
		margin 8rem auto 8rem auto
	.top-slider h1
		margin: 1rem 0 3rem
@media only screen and (max-width: 992px)
	.top-slider h1
		font-size: 5rem
	.top-slider span
		font-size: 20px