<!DOCTYPE html>
html(lang="ru")
	head
		title BizExpert
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet">
		//- link(href='bootstrap.css' rel='stylesheet' type='text/css')
		//- link(href='style.css' rel='stylesheet' type='text/css')
		style
			include ../Build/materialize.min.css
			include ../Build/style.css
		base(target="_blank")
	body
		include header
		include body
		include contact
	//- script
	//- 	include ../Build/jquery.min.js
	//- script
	//- 	include ../Build/parallax.min.js
	script(src=" ../Build/jquery.js ")
	script(src=" ../Build/jquery-migrate.min.js ")
	script(src=" ../Build/parallax.min.js ")
	script(src=" ../Build/slick.min.js ")
	script(src=" http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=0.0.46 ")